.CategoryPage-items-wrapper{
    display:grid;
    grid-template-columns: repeat(4, minmax(min-content, 1fr));
    justify-items: stretch;
    grid-column-gap: 2vmin;
    grid-row-gap: 8vmin;
}

.CategoryPage h1{
    margin: 4vmin 0;
    font-size:4vmin;
    letter-spacing:0.2vmin;
    text-transform: uppercase;
    text-shadow: 0.6rem 0.4rem 0.5rem rgba(0, 0, 0, 0.336);
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(85, 80, 80);
    cursor: pointer;
}

.CategoryPage-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:5vmin;
    text-align: center;
    font-size: 4vmin;
}

.CategoryPage-buttons button{
    font-size: 4vmin;
    padding:0 1vmin;
    border:none;
    outline:none;
    cursor: pointer;
    border-radius:0.3rem;
    background-color:transparent;
}

.CategoryPage-buttons button:active{
    transform: translateY(0.1rem);
}

.CategoryPage-buttons p{
    margin: 0 1vmin;
}

@media (max-width:900px){
    .CategoryPage-items-wrapper{
        grid-template-columns: repeat(2, minmax(min-content, 1fr));
    }
}